<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.demo.dao.HouseUserMapper">
  <resultMap id="BaseResultMap" type="com.house.demo.model.HouseUser">
    <!--@mbg.generated-->
    <!--@Table house_user-->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_last_login_time" jdbcType="TIMESTAMP" property="userLastLoginTime" />
    <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
    <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar" />
    <result column="user_register_time" jdbcType="TIMESTAMP" property="userRegisterTime" />
    <result column="role" jdbcType="VARCHAR" property="role" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, user_name, user_password, user_last_login_time, user_tel, user_avatar, user_register_time, 
    `role`
  </sql>

    <select id="getUserRoleByName" parameterType="java.lang.String" resultType="java.lang.String">
        select role from house_user where user_name = #{username};
    </select>

    <select id="getPassWordByName" parameterType="java.lang.String" resultType="java.lang.String">
        select user_password from house_user where user_name = #{username};
    </select>


</mapper>